* {
    padding: 0;
    margin: 0;
}

#full_site {
 
    width:100%;
    height:100%;
}

#background {
    background-image: url(/img/ja.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #cccccc;
    position: relative;
    height: 1000px;
   
}

li {
    list-style-type: none;
    margin-right: 5%;
    text-align: center;
    width: auto;
    margin-top: 2%;
    float: right;
    overflow: hidden;
    font-size: 1.5rem;
}

ul {
    min-width: 500px;
}

#header {
    height: auto;
    width: 100%;

}

li a {
    text-align: center;
    text-decoration: none;
    color: white;
}

li a:hover {
    color: yellow;
}

#menu h1 {
    float: left;
    color: white;
    margin-top: 2%;
    font-family: monospace;
    margin-left: 2%;
}

#info {
    color:black;
    margin-top: 10%;
    margin-right: 15%;
    width:100%;
    height:auto;
    margin-bottom: 10%;
    text-align: center;
    line-height: 2rem;
    padding: 2% 0% 2% 0%;
    background-color: white;
    opacity:0.5;

}

#info h1 {
    font-size: 5rem;
    margin-bottom: 2%;
}
#info h2 {
    font-size:3rem;
}

#footer {
    background-color: aqua;
    clear: both;
    height: auto;
    text-align: right;
    padding-right: 15%;
}


img {
    padding: 1.2%;
}

.clear {
    clear: both;
}

@media screen and (max-width:800px) {
    #info {
        position: relative;
        float: none;
      
    }

    #info h1 {
        font-size: 2.5rem;
    }

    #menu {
        text-align:left;
        background-color: black;
        margin: 0;
        width: 100%;
    }
    #menu h1 {
        float:left;
        position: relative;
        margin:0;
        width:100%;
    }

    li {
        float:none;
        position: relative;
        margin: 0 0 0 0 ;
        width: 100%;

        line-height: 2rem;
    }

    #menu h1 {
        float: none;
        font-size: 2rem;
    }
    #footer {
        padding:0;

    }
}